<script src="https://kit.fontawesome.com/de7c23b24a.js" crossorigin="anonymous"></script>
<div class="col-md-6 mx-auto mt-3">
  <h1>welcome to <i class="fa-solid fa-book"></i>Bookers</strong>  !!</span></h1>
  <p>In  <i class="fa-solid fa-book"></i></i><strong>Bookers</strong>, </p>
  <p>you can share and exchange your opinions , inpressions , and emotions</p>
  <p>about various books!</p>
  <div class="row">
    <p class="col-8 mx-auto"><a class="btn btn-info btn-block" href="/users/sign_in">Log in</a></p>
  </div>
  <div class="row">
    <p class="col-8 mx-auto"><a class="btn btn-success btn-block" href="/users/sign_up">Sign up</a></p>
  </div>
</div>